<!-- Codes by HTMLcodes.ws -->
<div class="containerr">
<marquee onmouseover="this.stop();" onmouseout="this.start();">
    <div class="d-inline-flex  justify-content-start  mb-3 pt-1">
        <div class="tab11 d-flex p-1">
            <div class="text font-weight-bold">
                Sales
            </div>
            <div class="mr-2"></div>
            <div class="ruppee">
                <span>
                    <i class="fa fa-inr" aria-hidden="true"></i>
                </span>
                2,50,0000,0000,00
            </div>
        </div>

        <div class="tab11 d-flex p-1">
            <div class="text font-weight-bold">
                Collections
            </div>
            <div class="mr-2"></div>
            <div class="ruppee">
                <span>
                    <i class="fa fa-inr" aria-hidden="true"></i>
                </span>
                2,50,00000
            </div>
        </div>
        <div class="tab11 d-flex p-1">
            <div class="text font-weight-bold">
                Debtors
            </div>
            <div class="mr-2"></div>
            <div class="ruppee">
                <span>
                    <i class="fa fa-inr" aria-hidden="true"></i>
                </span>
                2,50,00,000
            </div>
        </div>
        <div class="tab11 d-flex p-1">
            <div class="text font-weight-bold">
                Bank
            </div>
            <div class="mr-2"></div>
            <div class="ruppee">
                <span>
                    <i class="fa fa-inr" aria-hidden="true"></i>
                </span>
                2,50,000000
            </div>
        </div>

        <div class="tab11 d-flex p-1">
            <div class="text font-weight-bold">
                Shippment
            </div>
            <div class="mr-2"></div>
            <div class="ruppee">
                <span>
                    <i class="fa fa-inr" aria-hidden="true"></i>
                </span>
                2,50,0000,0000,00,000
            </div>
        </div>

        <div class="tab11 d-flex p-1">
            <div class="text font-weight-bold">
                Deliverd
            </div>
            <div class="mr-2"></div>
            <div class="ruppee">
                <span>
                    <i class="fa fa-inr" aria-hidden="true"></i>
                </span>
                2,50,00000
            </div>
        </div>
        <div class="tab11 d-flex p-1">
            <div class="text font-weight-bold">
                Recevied
            </div>
            <div class="mr-2"></div>
            <div class="ruppee">
                <span>
                    <i class="fa fa-inr" aria-hidden="true"></i>
                </span>
                2,50,000000
            </div>
        </div>
    </div>
</marquee>

</div>